/* navbar css */
.navbar_cart{
    border: 1px solid black;
    height: 106px;
}

/* below navbar start */
.basket_head{
    border:1px solid #cfd0cd;
    width: 1236px;
    margin: auto;
    text-align: start;
    border-top:none;
    border-left: none;
    border-right: none;
}
.basket_head>h1{
    font-size: 24px;
    font-weight: lighter;
}
/* product count */
.product_count{
    width: 1236px;
    margin: auto;
    text-align: start;
    padding-top: 10px;
}

.cart_main{
    border: 2px solid red;
    display: flex;
    width: 1236px;
    margin: auto;
}
.items_div{
    width: 816px;
}
.price_main{
    border: 1px solid green;
    width: 420px;
    display: grid;
    row-gap: 15px;
    
}
.pin_check{
    border: 1px solid red;
    width: 396px;
    height: 86px;   
}
.pin_check_in{
   margin-top: 24px;
}
.pin_check_in span{
 margin-right: 15px;  
 font-size: 14px; 
 color: #000;
 font-weight: 500;
}
.pin_check_in input{
    border:1px solid #faa619;
    height: 36px;
    width: 176px;
    border-radius: 7px;
}
.pin_check_in button{
    height: 40px;
    width: 90px;
    border:1px solid #faa619;
    color: #faa619;
    border-radius: 8px;
    margin-left: 10px;
    background-color: #fff;
}
.pin_check_in button:hover{
    cursor: pointer;
}
.offer_div{
    border: 1px solid blue;
    height: 106px;
    width: 396px;
}
.offer_div2{
    display: flex;
}
.offer_img_div img{
    height: 67px;
    width: 93px;
}
.price_calc{
    border: 1px solid violet;
    height: 304px;
    width: 396px;
  
    
}

.mrp_div{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.discount_div{
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
.charge_div{
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
.total_div{
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

